* {
margin: 0;
padding: 0;
}

.container {
width: 1140px;
margin: 0 auto;
}

body{
     font-family: sans-serif;
}



.main__menu{
    display: flex;
    justify-content:left;
    align-items: center;
    height: 70px;
}

.main__menu > li{
    width: 70px;
    list-style-type: none;
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.top_heading{
    font-size: 64px;
    color: #1F3F68;
}

.contact_page_h2_headers{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h1{
    width: 510px;
}

.top__heading__text{
    width: 425px;
}

.h3_heders{
    font-size: 36px;
    text-align: center;
}

.h4_headers{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.card__header{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.what__we__do__cards{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 359px;
    margin: auto;
    text-align: justify;
}

.footer__top{
    width: 495px;
}
.footer__heading{
    width: 340px;
}
.footer__bottom__list{
    display: flex;
    justify-content: space-around;
}

.contacts__content{
    display: flex;
    justify-content: space-around;
}

.inputs{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.send_form{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.ya__map{
    width: max-content;
}